<h1>StaticPages#team</h1>
<p>Find me in app/views/static_pages/team.html.erb</p>
<div class="text-center py-5">
  <h1>Voici notre équipe ❤</h1>
  <p class="lead">On est deux, on code, on rigole, on déploie.</p>
</div>
