<h1>StaticPages#welcome</h1>
<p>Find me in app/views/static_pages/welcome.html.erb</p>
<div class="py-5">
  <h1>BIENVENUE <%= @first_name.upcase %> !</h1>
  <p>Ici c'est notre super site de potins, il est chouette, non ?</p>
</div>
